@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
}
body{
    margin-left: 27%;
    margin-right: 27%;
}
.how_to_play h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}