@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
}
body{
  background:url('images/wmremove-transformed.jpeg')no-repeat;
  width: 98%;
  height: 60vw;

  background-size: cover;
  background-position: center;
  position: relative;
  margin:-40px 0px 0px 222;
}
.how_to_play h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.how_to_play{
   margin-left: 27%;
    margin-right: 27%; 
    margin-top: 3%;
    background-color: aliceblue;
    padding-left: 30px;
    padding-bottom: 20px;
}
nav{
  
  width: 80%;
  padding: 10px 0;
  margin-left: 10%;
  
}
nav .menu{
 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background-color:black;
   opacity: 0.5;
  
  padding: 0 20px;
    border-radius: 25px;
   box-shadow: 0 0 15px #ffd500b4;
    backdrop-filter: 12px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}