@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: grid;
    overflow-x: hidden;
    margin: 0;
}
.button a{
  rotate: 90deg;
}
nav{
  position: fixed;
  width: 80%;
  padding: 10px 0;
  margin-left: 10%;
  /* z-index: 12; */
}
nav .menu{
  /* max-width: 1250px; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background-color:black;
   opacity: 0.5;
  /* background-blend-mode: darken; */
  padding: 0 20px;
    border-radius: 25px;
   box-shadow: 0 0 15px #ffd500b4;
    backdrop-filter: 12px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.homepage{
    background-image: url(images/tinywow_remove_watermark_photo_80548929.png);
    /* background-size: cover; */
    background-color: rgba(0, 0, 0,0.7);
    background-blend-mode: darken;
    height: 100vh;
}
.about{
    /* display: flex; */
    /* align-items: center; */
    margin-top: 18%;
    /* margin-left: 27%; */
    
    font-size: 0.4in;
    color: white;
   
}
.grabber{
place-items: center;
}
.about h2 +h2{
    font-size: 0.28in;
    color: white;
    /* place-items: center; */
}
 .about button{
  padding: 10px 40px;
  border-radius: 34px;
  border-color: transparent;
  font-size: 17px;
  font-weight: bolder;
  box-shadow: 0 0 25px black;
  margin-left: 45%;
 }
.working{
    margin-top: 12%;
}
.work{
    place-items: center;
    margin-bottom: 7%;
}
.work h1{
  font-size: 0.5in;
}
.grabber-image{
    display: flex;
    justify-content: space-around;
}
.grabber-image img{
    width: 25vw;
    height: 50vh;
    /* border: 2px solid black; */
    border-radius: 25px;
     box-shadow: 0 0 25px black;
    /* background-color:black; */
}
.gallery{
  display: flex;
  justify-content: space-between;
}
.image1 img{
 width: 17vw;
}
.image2 img{
 width: 17vw;
}
.image3 img{
 width: 17vw;
}
.image3 h2{
  margin-left: 20%;
}
.image4 img{
 width: 150%;
}
.image4 h2{
  margin-left: 3%;
}
.image5 img{
 width: 160%;
}
.image5 h2{
  margin-left: 40%;
}
.materials h1{
  display: flex;
  justify-content: center;
  font-size: 0.4in;
  text-transform: uppercase;
  margin-bottom: 4%;
}
.materials{
  width: 100%;
  /* margin-left: 5%; */
  margin-top: 10%;
  background-color: black;
  color: white;
  padding: 5%;
}
.procedures{
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  gap: 15%;
}
.procedure{
  margin-top: 12%;
  margin-bottom: 10%;
}
.procedure h1{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.4in;
}
footer{
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
   background: hsl(0 0% 0%);
  /* background: #111; */
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
  text-decoration: none;
}
footer a:hover{
  color: #eb2f06;
}
.first-project img{
  width: 20vw;
  height: 43vh;
  border-radius: 24%;
}
.first-project{
  position: relative;
}
.first-project p{
  position: absolute;
  top: 37%;
  left: 14%;
  font-size: 0.3in;
  color: white;
  font-weight: 900;
}
.second-project img{
  width: 20vw;
  height: 43vh;
  border-radius: 24%;
}
.second-project{
  position: relative;
}
.second-project p{
  position: absolute;
  top: 37%;
  left: 14%;
  font-size: 0.3in;
  color: white;
  font-weight: 900;
}
.third-project img{
  width: 20vw;
  height: 43vh;
  border-radius: 24%;
}
.third-project{
  position: relative;
}
.third-project p{
  position: absolute;
  top: 37%;
  left: 14%;
  font-size: 0.3in;
  color: white;
  font-weight: 900;
}
.fourth-project img{
  width: 20vw;
  height: 43vh;
  border-radius: 24%;
}
.fourth-project{
  position: relative;
}
.fourth-project p{
  position: absolute;
  top: 37%;
  left: 14%;
  font-size: 0.3in;
  color: white;
  font-weight: 900;
}
.project{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.projects h1{
  display: flex;
  justify-content: center;
  font-size: 0.5in;
  text-transform: uppercase;
  margin-bottom: 7%;
}

